:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    // outline: none;
    // border: none;
    color: black;

    cursor: pointer;
    &--primary{ 
        background-color: white;
        color: #242424;
        border: 1px solid var(--primary);
    }
    &--outline {
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid var(--primary);
        transition: all .3s ease-out
    }
    &--medium {
        padding: 8px 20px;
        font-size: 20px;
        &:hover {
            background-color: #fff;
            color: #242424;
            transition: all .3s ease-out;
        }
    }
    &--large {
        padding: 12px 26px;
        font-size: 20px;
        &:hover {
            background-color: #fff;
            color: #242424;
            transition: all .3s ease-out;
        }
    }
}