// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,700&display=swap');

//Font variables
$open-sans: 'Open Sans', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$font-weight: (
    'regular': 400,
  
);

//Styles
body {
    font-family: $open-sans, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $work-sans, Arial, Helvetica, sans-serif;
}

.button {
    font-family: $open-sans, Arial, Helvetica, sans-serif;
}