.contact__outerContainer {
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__innerContainer {
    display: flex;
    height: 30rem;
    width: 70rem;
    justify-content: space-between;
    align-items: center;
}

.contact__map {
    height: 30rem;
    width: 30rem;
    transition: transform .7s ease-in-out;
}

@media screen and (min-width: 500px) and (max-width: 1150px) {
    .contact__innerContainer {
        display: flex;
        flex-direction: column;
    }

    .contact__outerContainer {
        display: flex;
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .contact__innerContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    .contact__map {
        transform: scale(0.67, 0.67);
        margin-top: -100px;
        transition: transform .7s ease-in-out;
    }

    .contact__outerContainer {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;
        height: fit-content;
        box-sizing: border-box;
    }
}