.contact__outerContainer {
    height: 87vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__innerContainer {
    display: flex;
    height: 30rem;
    width: 70rem;
    justify-content: space-between;
    align-items: center;
}

.contact__form {
    height: 30rem;
    width: 30rem;
    display: flex;

    flex-direction: column;
}

.contact__formContact {
    height: 30rem;
    width: 30rem;
    display: flex;

    flex-direction: column;
}

.contact__map {
    height: 30rem;
    width: 30rem;
}