.homeSection__container {
   position: relative;
   width: 100%;
   line-height: 0;
}

.homeSection1__text {
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-turquoise-light;

  > h2 {
  color: $color-white;
  font-size: 1.125rem;
  }
}

.homeSection__image {
  height: auto;
  max-width: 100%;
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.homeSection2__text {
  height: 233px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-grey-light;

  > h2 {
  color: $color-white;
  font-size: 1.5rem;
  line-height: 1;
  }
  >p {
      color: $color-white;
      line-height: 1;
      width: 50%;
      padding-top: 20px;
      text-align: center;
  }
}

.homeSection4__text {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-pink-light;

  > h2 {
  color: $color-white;
  font-size: 1.5rem;
  line-height: 1;
  }

  >p {
      color: $color-white;
      line-height: 1;
      width: 60%;
      padding-top: 20px;
      text-align: center;
  }

  .workplace__button {
    padding-top: 20px;
    button {
      background-color: transparent;
      color: #fff;
      padding: 8px 70px;
      border: 1px solid #fff;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

.homeSection3__text {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $color-turquoise-light;

  > h2 {
  color: $color-white;
  font-size: 1.5rem;
  line-height: 1;
  }

  >p {
      color: $color-white;
      line-height: 1;
      width: 50%;
      padding-top: 20px;
      text-align: center;
  }
}

.cards__container{
  display: flex;
  height: 289px;
  width: 100%;
  background-color: $color-turquoise-light;
}

.homeSection3__cards {
  margin: 0 auto;
}

.card__container{

  .icon__container{
    color: $color-white;
    font-size: 35px;
    text-align: center;
  }
  .card__title {
    > h3 {
      color: $color-white;
      font-size: 1.125rem;
      padding-top: 20px;
    }
  }
}
