.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    &__logo  {
        color: #000;
        justify-self: flex-start;

        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
}

.nav {
    &__menu {
        display:flex;
        list-style: none;
        text-align: center;
        width: 60vw;
        justify-content:flex-end;

    }

    &__links {
        color: #000;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        height: 100%;

        &:hover {
            border-bottom: 4px solid #000;
            transition: all 0.2s ease-out;
        }
     }
 }


.fa-bars {
    color: #000;
    font-size: 2rem;
}

.nav__links__mobile {
    display: none;
}

.navbar__menu-icon {
    display: none;
}

@media screen and (max-width: 1075px) {
  .Navbar {
      position: relative;
  }

    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 80vh;
        position: absolute;
        top: 80px;
        left: -200%;
        opacity: 1;
        color:white;
        transition: all 0.5s ease-in-out;
        &.active {
            background: $color-grey;
            color:white;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
        }
    }

    .navbar {
        // display: flex;
        // justify-content: space-between;
        &__logo {
            position:absolute;
            top:0;
            left: 0;
            height: 2rem;
            transform:translate(0%, 50%)
        }

        &__menu-icon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            cursor: pointer;

        }
    }
    .nav__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color:#fff;
        &:hover{
            background-color: #fff;
            color: #242424;
            border-radius: 0;
        }
    }

    // .navbar__logo {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 2rem;;
    //     transform: translate(25%, 50%);
    // }

    .fa-times {
        color: #000;
        font-size: 2rem;
    }

    .nav__links__mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
    }
}
